<ons-page ng-controller="CadastroController">
    <ons-modal var="modalCad">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br><br>
        Salvando dados...
    </ons-modal>
    <ons-toolbar modifier="toobar-orange">
        <div class="left">
            <ons-toolbar-button ng-click="nav.popPage()">
                <ons-icon icon="fa-chevron-left"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Cadastro</div>
    </ons-toolbar>
    <div class="align-center">
        <ons-row>
            <ons-col width="80%" class="align-center ">
                <div class="input-form input-icon">
                    <input type="text" placeholder="Nome Completo" ng-model="cad.nome"/>
                </div>

                <div class="input-form input-icon">
                    <input type="text" placeholder="Email" ng-model="cad.email"/>
                </div>

                <div class="input-form input-icon">
                    <input type="password" placeholder="Senha" ng-model="cad.senha"/>
                </div>

                <div class="input-form input-icon">
                    <input type="password" placeholder="Repetir Senha" ng-model="cad.confirmsenha"/>
                </div>

                <div class="input-form input-icon">
                    <input mask="99/99/9999" type="tel" placeholder="Data Nascimento" ng-model="cad.data_nascimento"/>
                </div>

            </ons-col>
        </ons-row>
        <ons-row style="margin: 20px auto">
            <p style="margin: 0 auto">Gênero</p>
        </ons-row>
        <ons-row style="width: 50%; margin: 0 auto">

            <ons-col  class="align-center " >
                <img ng-src="{{pictureSem}}" ng-click="toogleSem()" alt="">
            </ons-col>
            <ons-col class="align-center " >
                <img ng-src="{{pitctureFeminino}}" ng-click="toogleFeminino()" alt="">
            </ons-col>
            <ons-col  class="align-center " >
                <img ng-src="{{pitctureMasculina}}" ng-click="toogleMasculina()" alt="">
            </ons-col>
        </ons-row>
        <ons-row class="margintop-20">
            <ons-col width="60%" class="align-center">
                <ons-button modifier="large" riple="false" ng-click="cadastrar()" class="btn-cadastro">Cadastrar</ons-button>
            </ons-col>
        </ons-row>
        <ons-row class="margintop-20">
            <ons-col width="60%" class="align-center">
                <ons-button modifier="large" riple="false" class="btn-facebook"><ons-icon icon="fa-facebook-square" fixed-width="true"></ons-icon>Login com Facebok</ons-button>
            </ons-col>
        </ons-row>
    </div>
</ons-page>