<ons-page modifier="bg-orange" ng-controller="CpfValideController">
     <ons-modal var="modalCpf">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br><br>
        Validando o CPF...
    </ons-modal>
    <div class="align-center">
        <ons-row>
            <ons-col>
                <img class="img-logo" src="img/logo.png" alt="">
            </ons-col>
        </ons-row>
        <ons-row class="row-cpf">
            <ons-col >
                <p class="white-text">Olá!</p>
                <p class="white-text">Para se cadastrar ou fazer o login, você precisa informar o CPF</p>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col width="70%" class="align-center ">
                <div class="input-form input-icon">
                    <input mask="999.999.999-99" type="tel" placeholder="123.456.789-00" ng-model="cpf" />
                    <img src="img/next.png" alt="" ng-click="validarCpf()">
                </div>
              
            </ons-col>
        </ons-row>
    </div>
</ons-page>