<ons-page modifier="bg-orange" ng-controller="LoginController">
    <ons-modal var="modalLogin">
        <ons-icon icon="ion-load-c" spin="true"></ons-icon>
        <br><br>
        Entrando...
    </ons-modal>
    <div class="align-center">
        <ons-row>
            <ons-col>
                <img class="img-logo" src="img/logo.png" alt="">
            </ons-col>
        </ons-row>
        <ons-row class="row-cpf">
            <ons-col>
                <p class="white-text">Seu CPF já está cadastrado!</p>
                <p class="white-text">Entre com sua senha</p>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col width="70%" class="align-center ">
                <div class="input-form input-icon">
                    <input mask="999.999.999-99" type="tel"  placeholder="123.456.789-00" ng-model="cpf" />
                </div>
                <div class="input-form input-icon">
                    <input type="password" placeholder="Senha" ng-model="senha" />

                </div>
            </ons-col>
        </ons-row>
        <ons-row class="margintop-20">
            <ons-col width="70%" class="align-center">
                <ons-button modifier="large" ng-click="login()" riple="false" class="btn-entrar">Entrar</ons-button>
            </ons-col>
        </ons-row>
        <ons-row class="margintop-20">
            <ons-col width="80%" class="align-center">
                <div class="divider-text">
                    <p class="login-text"><span class="line">ou</span></p>
                </div>
            </ons-col>
        </ons-row>
        <ons-row class="margintop-20">
            <ons-col width="60%" class="align-center">
                <ons-button modifier="large"  riple="false" class="btn-facebook"><ons-icon icon="fa-facebook-square" fixed-width="true"></ons-icon>Login com Facebok</ons-button>
            </ons-col>
        </ons-row>
        <ons-row class="margintop-20">
            <ons-col width="60%" class="align-center">
                <ons-button ng-click="nav.popPage()" modifier="quiet"class="btn-border"><ons-icon icon="fa-chevron-left" fixed-width="true"></ons-icon>Voltar</ons-button>
            </ons-col>
        </ons-row>
    </div>
</ons-page>