.page--bg-orange__content {
    background-color: #ff6722 !important
}

.toolbar--toobar-orange {
    background-color: #ff6722;
}

p {
    margin: 0
}
.btn-cadastro{
    background-color: #ff6722;
}
.align-center {
    text-align: center;
    margin: 0 auto;
}

.img-logo {
    width: 100%
}

.white-text {
    color: white
}

.row-cpf {
    padding: 0px 30px;
    margin-bottom: 20px;
}

.input-form {
    background: white;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    height: 50px;
    margin-top: 10px;
}

.input-form input {
    width: 80%;
    height: 95%;
    border: none;
    text-align: center;
}

.input-icon img {
    float: right;
    margin-top: 2px;
}

.input-icon {
    background: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
}

.arrow-circle-icon {
    background-image: url(./../img/next.png);
    padding-right: 36px;
    background-repeat: no-repeat;
    background-position: 97%;
    background-color: white;
    background-size: 30px;
}

.margintop-20 {
    margin-top: 20px;
}

.btn-entrar {
    width: 100%;
    background-color: #bf4610;
}

.btn-facebook {
    width: 100%;
    background-color: #39579a;
}

.btn-border {
    border: 1px solid white;
    color: white;
}

.btn-facebook ons-icon {
    font-size: 18px;
    margin-right: 5px;
}

.login-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ababab;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.line {
    background: #ff6722;
    color: #a7a7a7;
    padding: 0 10px;
}

.divider-text {}